<footer id="footer">
    <div class="container">
        <div class="footer-content-holder">
            <div class="row">
                <div class="col-sm-3">
                    <h3 class="footer-widget-title">We can Do</h3>
                    <ul class="">
                        <li>Work hard on researching, design and development to deliver high-quality software to maximize your business value.</li>
                    </ul>
                    <ul class="social list-inline">
                        <li><a href="https://www.facebook.com/dfusiontechinc" class="fa fa-facebook"></a></li>
                        <li><a href="https://www.linkedin.com/company/dfusion-tech" target="_blank" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h3 class="footer-widget-title">Recent posts</h3>
                    <ul class="recent-posts">
                        <li>
                            <span>March, 2014 / </span>
                            <a href="javascript:void(0)">
                                We are Adobe certified experts for CQ5 component development.
                            </a>
                        </li>
                        <li>
                            <span>August, 2014 / </span>
                            <a href="javascript:void(0)">
                                Our new product for web-based full-scale comparison of business documents' revisions was released.
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h3 class="footer-widget-title">Navigation</h3>
                    <ul class="footer-navigation">
                        <li data-ui-sref-active="active">
                            <a  title="Home"
                                data-toggle="collapse"
                                data-target="#mainNav.in"
                                data-ui-sref="layout.home"
                                    >
                                Home
                            </a>
                        </li>
                        <li data-ui-sref-active="active">
                            <a  title="Services"
                                data-toggle="collapse"
                                data-target="#mainNav.in"
                                data-ui-sref="layout.services"
                                    >
                                Services
                            </a>
                        </li>
                        <li>
                            <a  title="Portfolio"
                                data-toggle="collapse"
                                data-target="#mainNav.in"
                                href="javascript:void(0)"
                                data-ng-click="vm.sayNo();"
                                    >
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a  title="About"
                                data-toggle="collapse"
                                data-target="#mainNav.in"
                                href="javascript:void(0)"
                                data-ng-click="vm.sayNo();"
                                    >
                                About
                            </a>
                        </li>
                        <li>
                            <a  title="Contacts"
                                data-toggle="collapse"
                                data-target="#mainNav.in"
                                href="javascript:void(0)"
                                data-ng-click="vm.sayNo();"
                                    >
                                Contacts
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h3 class="footer-widget-title">Tags</h3>
                    <div class="tag-cloud">
                        <a href="javascript:void(0);">agreements</a>
                        <a href="javascript:void(0);">developers</a>
                        <a href="javascript:void(0);">relationship</a>
                        <a href="javascript:void(0);">development</a>
                        <a href="javascript:void(0);">software</a>
                        <a href="javascript:void(0);">projects</a>
                        <a href="javascript:void(0);">experience </a>
                        <a href="javascript:void(0);">efficiency</a>
                        <a href="javascript:void(0);">responsibility</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-block">
        <div class="container">
            <div class="row">
                Copyright © 2008-2018 dFusion Tech, Inc.
            </div>
        </div>
    </div>
</footer>
