
#homePage {
    overflow: hidden;

    .page-heading {
        position: relative;
        height: auto;
        margin: 0;
        padding: 0;

        img {
            position: relative;
            right: -10%;
            left: 0;
            margin-left: -10%;
            width: 125%;
            height: auto;
        }

        .page-heading-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.1);
        }

        h1 {
            position: absolute;
            bottom: 12%;
            left: 15%;
            color: white;
            font-size: 3.5vw;
            font-weight: bold;
            line-height: 4.5vw;
            text-transform: uppercase;

            @media @lsmscreen {
                line-height: 5vw;
                left: 5%;
            }

            span {
                background-color: rgba(0, 0, 0, 0.7);
                border-radius: 0.15em;
                padding: .1em .3em;
            }
        }
    }

    .advantages-block {
        text-align: center;
        margin: 52px -15px 58px -15px;
        .adv-logo {
            text-align: center;
            color: black;
            text-decoration: none;
            .adv-icon {
                font-size: 36px;
                border-radius: 3px;
                height: 71px;
                width: 71px;
                padding: 18px 0;
                background-color: @malachite;
            }

            .adv-name {
                font-size: 17px;
                margin: 0;
                padding-top: 23px;
            }

            &:hover {
                color: @malachite;
                .adv-icon {
                    background-color: black;
                }
            }
        }

        .adv-description {
            line-height: 1.75em;
            margin: 15px 0 0;
            color: #727272;
        }
    }

    .testimonials-block {

        @media (max-width: 360px) {
            margin: 0 -15px;
        }

        .heading {
            font-size: 17px;
            color: black;

            span {
                border-bottom: 1px solid rgba(209, 215, 194, 1);
                display: inline-block;
                padding: 0 58px 20px;
            }
        }

        .testimonials-carousel {
            //height: 200px;

            .carousel-inner {
                width: 80%;
                margin-left: 10%;
            }

            .item {

                .text-center {
                    height: 200px;
                    width: 90%;
                    padding-top: 5%;
                    margin: auto;

                    @media @mdscreen {
                        height: 300px;
                    }

                    @media @lsmscreen {
                        height: 500px;
                        padding-top: 0;
                    }
                    @media (max-width: 360px) {
                        height: 520px;
                    }

                    .quote-symbol {
                        content: ' ';
                        float: left;
                        background-position: 0 0;
                        background-repeat: no-repeat;
                        background-image: url(../../../assets/images/svg/quote_testimonials.svg);
                        text-indent: -9999px;
                        background-size: 100%;
                        width: 70px;
                        height: 40px;
                        margin: 5px 10px;

                        @media @lsmscreen {
                            width: 45px;
                            height: 25px;
                            margin: 5px 5px 0 0;
                        }
                    }

                    .slide-caption {
                        color: black;
                        text-align: left;

                        margin-left: 100px;

                        @media @lsmscreen {
                            margin-left: 55px;
                        }

                        .image-imitation {
                            display: inline-block;
                        }

                        .testim-text {
                            font-style: normal;
                            font: 13px/1.7em Arial;
                            margin-bottom: 15px;
                        }

                        .testim-author {
                            font: 12px Arial;
                            text-transform: uppercase;
                            line-height: normal;
                            font-style: italic;
                        }
                    }
                }
            }

            .carousel-control {
                width: 10%;
                background: none;
                color: #d1d7c2;

                @media @lsmscreen {
                    &.right {
                        background: @malachite; /* Old browsers */
                        background: -moz-linear-gradient(left, rgba(148,186,55,0) 0%, rgba(148,186,55,0.5) 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(left, rgba(148,186,55,0) 0%,rgba(148,186,55,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to right, rgba(148,186,55,0) 0%,rgba(148,186,55,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94BA37', endColorstr='#94BA37',GradientType=1 ); /* IE6-9 */
                    }
                    &.left {
                        background: @malachite; /* Old browsers */
                        background: -moz-linear-gradient(left, rgba(148,186,55,0.5) 0%, rgba(148,186,55,0) 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(left, rgba(148,186,55,0.5) 0%,rgba(148,186,55,0) 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to right, rgba(148,186,55,0.5) 0%,rgba(148,186,55,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94BA37', endColorstr='#94BA37',GradientType=1 ); /* IE6-9 */
                    }
                }
            }

            .carousel-indicators {
                display: none;
            }
        }
    }


}





//#homePage {
//    /**
//     *
//     * Description text
//     * Local component
//     * Use to specify previous text
//     *
//     * example:
//     * <p class="text-description text-uppercase">Find something for yourself</p>
//     *
//     */
//    .text-description {
//        font-family: @font-family-montserrat;
//        font-size: 13px;
//        font-weight: 400;
//        letter-spacing: 1px;
//    }
//
//    /**
//     *
//     * Present page styles
//     * fixed background and vertical align content
//     *
//     */
//    #presentPage {
//        @container-height: 100vh; // local variable
//        @container-height-mobile: @container-height * 0.6;
//
//        background: linear-gradient(rgba(36, 39, 38, 0.5), rgba(36, 39, 38, 0.5)), rgba(36, 39, 38, 0.5)  url(../../../assets/images/mountains_sky_sunset_peaks_97149_3840x2400.jpg);
//        background-repeat: no-repeat;
//        background-position: center center;
//        background-attachment: fixed;
//        background-size: cover;
//        height: @container-height;
//
//        @media ( max-width: @mobile-point ) {
//            height: @container-height-mobile;
//        }
//
//
//        /**
//         *
//         * set fixed height for parent container .present-wrap, use display: inline-block and additional
//         * class .helper for solve the problem of content vertical align
//         * takes from: https://habrahabr.ru/post/73113/
//         *
//         */
//        .present-wrap {
//            height: @container-height;
//            @media ( max-width: @mobile-point ) {
//                height: @container-height-mobile;
//            }
//
//            .present-content {
//                display: inline-block;
//                vertical-align: middle;
//                max-width: 97%;//for media query
//            }
//
//            &:before {
//                display: inline-block;
//                vertical-align: middle;
//                height: 100%;
//                width: 0;
//            }
//        }
//    }
//
//    /**
//    *
//    * Visit contacts section styles
//    * fixed background
//    *
//    */
//    #visitContacts {
//        background: linear-gradient(rgba(30, 28, 24, 0.8), rgba(30, 28, 24, 0.8)), rgba(30, 28, 24, 0.8) url(../../../assets/images/i-best.jpg);
//        background-repeat: no-repeat;
//        background-position: top center;
//        background-size: cover;
//        background-attachment: fixed;
//
//        .contact-heading {
//            font-weight: @font-weight-bold;
//        }
//
//        .contact-text {
//            font-size: @font-size-h5;
//        }
//    }
//
//    /**
//     *
//     * Prices section styles
//     *
//     */
//    #prices {
//
//        /**
//         *
//         * use pseudo-elements to create two borders with different style
//         * use position properties to stretch element for necessary size
//         *
//         */
//        .border-holder {
//            background-color: @white;
//            position: relative;
//            padding: 25px 30px;
//
//            &::before {
//                @indent: -2px;
//                content: '';
//                display: block;
//                top: @indent;
//                left: @indent;
//                right: @indent;
//                bottom: @indent;
//                position: absolute;
//                border: 5px solid @bronze;
//            }
//
//            &::after {
//                @indent: 18px;
//                content: '';
//                display: block;
//                top: @indent;
//                left: @indent;
//                right: @indent;
//                bottom: @indent;
//                position: absolute;
//                border: 1px dashed @bronze;
//                pointer-events: none;//set element does not react to pointer events, can target elements is "underneath" that element
//            }
//
//            .prices-item {
//                position: relative;
//
//                /**
//                 * price list sections divider realization:
//                 * vertical divider for desktops and large desktops
//                 * horizontal divider for mobiles and tablets
//                 */
//                &::before {
//                    content: '';
//                    display: block;
//                    right: -15px;
//                    left: auto;
//                    top: 0;
//                    bottom: 0;
//                    position: absolute;
//                    border: 1px solid transparent;
//                    border-right: 1px solid @bronze;
//                    @media ( max-width: @tablet-point ) {
//                        right: 0;
//                        left: 0;
//                        top: auto;
//                        bottom: -15px;
//                        border: 1px solid transparent;
//                        border-bottom: 1px solid @bronze;
//                    }
//                }
//
//                /**
//                 * prices display option with dotted list
//                 */
//                .dotted {
//                    margin-bottom: 5px;
//                    border-bottom: 2px @black-amber dotted;
//
//                    .service {
//                        background-color: @white; // add background equal parent's background color to hide border in necessary place
//                        position: relative;
//                        margin: 0;
//
//                        &-name {
//                            bottom: -20px;
//                            padding-right: 3px;
//                            display: inline-block;
//                            max-width: 70%;
//                            white-space: nowrap;
//                            overflow: hidden;
//                            text-overflow: ellipsis; // hide long content in tablet devices
//                        }
//
//                        &-price {
//                            float: right;
//                            font-size: 20px;
//                            bottom: -15px;
//                            padding-left: 3px;
//                        }
//                    }
//                }
//            }
//
//            // price list's last section haven't divider
//            .last {
//                .prices-item::before {
//                    border: 1px solid transparent;
//                }
//            }
//        }
//    }
//}
