#portfolioPage {
    h3.heading {
        margin-bottom: 40px;
    }

    .project {
        height: auto;

        .display {
            min-height: 368px;
            width: 422px;
            position: relative;
            margin: 0 auto;

            img {
                display: block;
                max-width: 100%;
                position: absolute;
                height: auto;
            }
        }
    }
}
