<div id="aboutPage">
    <section class="page-heading">
        <div class="container">
            <h1>About</h1>
        </div>
    </section>

    <section class="container content">
        <div class="row">
            <div class="col-md-12">
                <p>
                    dFusion Tech Inc. has dedicated years to developing efficient and flexible solutions designed to help our clients and partners worldwide. We have the right resources to offer round-the-clock development, consulting and support to companies to help with achievement of their business and technical objectives.
                </p>
                <p>
                    Over the years, dFusion Tech Inc. has created numerous innovative web solutions that inspire, inform and effectively communicate the message to your audience. Complex corporate web solutions we deliver are architecturally designed to handle 10+ millions requests per day and make deal with 1+ million users.
                </p>
                <p>
                    Headquartered in Kharkiv, Ukraine, we also have business partners and clients in the USA, UK and other parts of Europe.
                </p>
            </div>
        </div>
    </section>
    <section class="container content">
        <div class="row">
            <h2 class="animated fadeInDown heading">
                <span class="title">Why choose us</span>
            </h2>
        </div>
        <div class="advantages-block">
            <div class="row animated fadeInLeft">
                <div class="col-sm-4">
                    <a href="javascript:void(0);" class="adv-logo">
                        <span class="adv-icon fa fa-user"></span>
                        <div class="adv-name">
                            <h2>Development</h2>
                            <h3>R&D</h3>
                        </div>
                    </a>
                    <p class="adv-description">
                        Our developers have strong technical background to design and develop a smart, stable solutions even for the most difficult projects
                    </p>
                </div>
                <div class="col-sm-4">
                    <a href="javascript:void(0);" class="adv-logo">
                        <span class="adv-icon fa fa-line-chart"></span>
                        <div class="adv-name">
                            <h2>Business Process</h2>
                            <h3>Project management</h3>
                        </div>
                    </a>
                    <p class="adv-description">
                        We employ recent project management methodologies to deliver great solutions with minimal efforts and maximum efficiency
                    </p>
                </div>
                <div class="col-sm-4">
                    <a href="javascript:void(0);" class="adv-logo">
                        <span class="adv-icon fa fa-life-ring"></span>
                        <div class="adv-name">
                            <h2>Customer First</h2>
                            <h3>Customer care</h3>
                        </div>
                    </a>
                    <p class="adv-description">
                        Involvement of the customer at all project's stages is a must. We practice frequent conference calls, meetings, training and demos
                    </p>
                </div>
            </div>
            <div class="row animated fadeInRight">
                <div class="col-sm-4">
                    <a href="javascript:void(0);" class="adv-logo">
                        <span class="adv-icon fa fa-star"></span>
                        <div class="adv-name">
                            <h2>Quality Perfection</h2>
                            <h3>Quality assurance</h3>
                        </div>
                    </a>
                    <p class="adv-description">
                        We do care about quality. Get used to test carefully all aspects generally and in details
                    </p>
                </div>
                <div class="col-sm-4">
                    <a href="javascript:void(0);" class="adv-logo">
                        <span class="adv-icon fa fa-users"></span>
                        <div class="adv-name">
                            <h2>Go The Distance Together</h2>
                            <h3>Maintenance</h3>
                        </div>
                    </a>
                    <p class="adv-description">
                        Building long-term relationships is our concern. Our dedicated teams remain with your company during product's life-cycle
                    </p>
                </div>
                <div class="col-sm-4">
                    <a href="javascript:void(0);" class="adv-logo">
                        <span class="adv-icon fa fa-graduation-cap"></span>
                        <div class="adv-name">
                            <h2>Self-Improvement</h2>
                            <h3>Innovations</h3>
                        </div>
                    </a>
                    <p class="adv-description">
                        We are focused on learning and improving of our knowledge to develop innovative and cutting-edge solutions
                    </p>
                </div>
            </div>
        </div>
    </section>

    <div class="waiting-for-data" data-ng-if="vm.teamGroups.length == 0">
        <img src="assets/images/dFusionCloud.png" alt="">
        <i class="fa fa-refresh fa-spin"></i>
        <i class="fa fa-desktop fa-lg"></i>
    </div>

    <section class="container content" data-ng-if="vm.teamGroups.length != 0">
        <div class="row">
            <h2 class="animated fadeInDown heading">
                <span class="title">Leadership team</span>
            </h2>
        </div>
        <div class="team">
            <div class="row animated fadeIn"
                 data-ng-if="vm.teamGroups != null"
                 data-ng-repeat="group in vm.teamGroups"
                    >
                <div class="col-sm-4"
                     data-ng-repeat="teammate in group"
                     data-ng-class="{'col-sm-offset-2' : (($index == 0) && (group.length === 2)), 'col-sm-offset-4' : (($index == 0) && (group.length === 1))}"
                        >
                    <div class="teammate row clearfix">
                        <div class="col-md-4">
                            <div class="teammate-picture">
                                <img data-ng-src="{{teammate.photo}}" alt="">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="about">
                                <h3 class="name-and-post">{{teammate.name}}</h3>
                                <p>{{teammate.about}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="partners-panel">
        <ul class="logos">
            <li>
                <a href="javascript:void(0);">
                    <img class="wow zoomIn animated" data-wow-delay="1.3s" src="assets/images/partners/affinity-media-logo.png" alt="Affinity Media" style="visibility: visible; animation-delay: 1.3s;">
                    <span class="hover"> <img src="assets/images/partners/affinity-media-logo-hover.png" alt="Affinity Media"> </span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <img class="wow zoomIn animated" data-wow-delay="1.3s" src="assets/images/partners/travelmenu-logo.png" alt="Affinity Media" style="visibility: visible; animation-delay: 1.3s;">
                    <span class="hover"> <img src="assets/images/partners/travelmenu-logo-hover.png" alt="Affinity Media"> </span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <img class="wow zoomIn animated" data-wow-delay="1.3s" src="assets/images/partners/tangrapth-logo.png" alt="Affinity Media" style="visibility: visible; animation-delay: 1.3s;">
                    <span class="hover"> <img src="assets/images/partners/tangrapth-logo-hover.png" alt="Affinity Media"> </span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <img class="wow zoomIn animated" data-wow-delay="1.3s" src="assets/images/partners/flexisus-logo.png" alt="Affinity Media" style="visibility: visible; animation-delay: 1.3s;">
                    <span class="hover"> <img src="assets/images/partners/flexisus-logo-hover.png" alt="Affinity Media"> </span>
                </a>
            </li>
        </ul>
    </section>
</div>
