<div id="homePage">

    <!-- 1. block description -->
    <div id="presentPage">
        <div class="container present-wrap">
            <div class="present-content">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <h2 class="h1 text-white text-uppercase offset-bottom-4">
                            <span class="text-red"> Поздравляю </span>
                            с окончанием курса =)
                        </h2>
                        <p class="h5 text-white offset-bottom-5">
                            Если ты пишешь код - ты програмист.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 2. block description -->
    <div id="servicesList" class="indent-top-8 indent-bottom-8">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 offset-bottom-3">
                    <h3 class="text-heading text-center text-uppercase"> Курс JS </h3>
                    <p class="text-description text-center text-uppercase offset-bottom-3">
                        Используйте то что выучили.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 offset-bottom-3">
                    <div class="offset-bottom-3">
                        <img ng-src="../assets/images/sing_of_undead.jpg" title="Title" alt="Alt" class="img-responsive" />
                    </div>
                    <h4 class="text-heading text-uppercase"> Подпись под картинкой </h4>
                    <p class="h4 offset-bottom-3 text-khaki">
                        <i data-ng-show="!vm.data" class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        {{ vm.data }}
                    </p>
                    <p class="offset-bottom-3"> А почему бы и не добавить текста </p>
                    <p class="h5 text-khaki">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, dolor excepturi? Esse assumenda nemo facere. Corporis corrupti libero laborum eaque ut non expedita unde, eligendi, aliquam fuga odio tempora voluptatibus.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- 3. inline style it's really bad practice -->
    <div id="visitContacts" style="padding-top: 20vh; padding-bottom: 20vh;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="contact-heading text-white text-uppercase"> Не раздумывайте, берите и делайте </h3>
                    <p class="contact-text text-white offset-bottom-5"> В интернете есть все =) </p>
                    <div>
                        <a
                            role="button"
                            title="Contact button"
                            data-ui-sref="layout.other"
                            class="btn btn-h btn-light text-uppercase"
                                >
                            Еще одна ссылка на другую страницу
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 4. block description -->
    <div id="prices" class="indent-top-8 indent-bottom-8 bg-beige">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 offset-bottom-3">
                    <h3 class="text-heading text-center text-uppercase"> Те же данные </h3>
                    <p class="text-description text-center text-uppercase offset-bottom-3"> Как на другой странице =) </p>
                </div>
            </div>
            <div class="row offset-bottom-5" data-ng-show="vm.pricesList.length">
                <div class="container">
                    <div class="border-holder">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4"
                                data-ng-repeat="list in vm.pricesList track by $index"
                                data-ng-class="{'last': $last}"
                                    >
                                <div class="prices-item">
                                    <h4 class="text-heading text-uppercase text-center">
                                        {{list.title}}
                                    </h4>
                                    <ul class="list-unstyled">
                                        <li class="dotted" data-ng-repeat="service in list.services track by $index">
                                            <p class="service service-name" title="{{service.name}}">
                                                {{service.name}}
                                            </p>
                                            <p class="service service-price text-khaki">{{service.price}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a
                        role="button"
                        title="Contact button"
                        data-ui-sref="layout.other"
                        class="btn btn-h btn-light text-uppercase"
                            >
                        Еще одна ссылка на другую страницу
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
